<td><%= link_to 'Estudios', estudios_url %></td>
<table>
  <tr>
    <th>Nombre Estudio</th>
    <th>Topico</th>
  </tr>

    <tr>
      <td><%= @estudio.name %></td>
      <td><%= link_to 'Ver', estudio_path(@estudio.id) %></td>
      <td><%= link_to 'Editar', edit_estudio_path(@estudio.id) %></td>
    </tr>
    
</table>
