<h2><%= link_to 'user_eventos', user_eventos_url ,class: "text-white"%></h2>
<table>
  <tr>
    <th>Nombre user_evento</th>
    <th>Topico</th>
  </tr>

    <tr>
      <td><%= @user_evento.user.nombre_user %></td>
      <td><%= @user_evento.evento.nombre_ev %></td>
    </tr>
    
</table>
