<%= form_for @informe do |f| %>

        <div class="field">
          <%= f.label :Nombre_informe %></br>
          <%= f.select(:nombre_inf,["Informe Semanal","Informe Mensual"], {}, { :class => 'select' }) %>
        </div>

    <%= f.submit 'Enviar', :class => 'btn btn-primary' %>
<% end %>