<td><%= link_to 'Informes', informes_url %></td>
<h1><%= @informe.nombre_inf %></h1>
<table>
  <tr>
    <th>Pregunta</th>
    <th>Respuesta</th>
  </tr>
  <% @informe.pregunta_informes.each do |f| %>
    <tr>
          <td><%= f.pregunta_inf%></td>
          <td><%= f.respuesta%></td>
    </tr>
  <%end%>
</table>

