<%= form_for @recinto do |f| %>
      <div class="form-group">
        <%= f.label :Nombre_recinto %>
        <%= f.text_field :name %>
      </div>


    <%= f.submit 'Enviar', :class => 'btn btn-primary' %>
<% end %>