<%= form_for @cuestionario do |f| %>
      <div class="form-group">
        <%= f.label :Nombre_cuestionario %>
        <%= f.text_field :nombre_cues %>
      </div>
    <%= f.submit 'Enviar', :class => 'btn btn-primary' %>
<% end %>
