<h1><%= link_to 'Cuestionarios', cuestionarios_url %></h1>
<table>
  <tr>
    <th>Nombre Cuestionario</th>
  </tr>

    <tr>
      <td><%= @cuestionario.nombre_cues %></td>
      <td><%= link_to 'Responder', edit_cuestionario_path(@cuestionario.id) %></td>
    </tr>
</table>
<%= pie_chart({"Activo"=>@cuestionario.eda_a,"Reflexivo"=>@cuestionario.eda_r,
               "Teórico"=>@cuestionario.eda_t,"Pragmatico"=>@cuestionario.eda_p})%>
