<h1 class="text-center">Comunidad PACE UTEM</h1>
<div class="container-fluid border-dark border rounded">
  </br><p>La "Comunidad PACE UTEM" es una plataforma dise침ada para mejorar personalmente con respecto a 치mbitos Academico, Psicologicos y Autoconocimiento.
   Acompa침ando durante el proceso de Orientaci칩n Vocacional a las personas bajo la tutela del programa PACE UTEM</p>
 <br>
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <%= image_tag("customLogo.jpg",size: "200x200") %>
      </div>
      <div class="col-lg">
        <%= image_tag("PAE-UTEM.jpg",size: "200x200") %>
      </div>
      <div class="col-lg">
        <%= image_tag("PACE-UTEM.jpg",size: "200x200") %>
      </div>
    </div>
    <br>
  </div>
</div>

</br>