<body>
<div>
  <section>
    <div class="container">
      <h3>Comunidad de Aprendizaje Utem</h3>
      <p>PACE es una entidad que acompaña el los labores de Orientación Vocacional.</p>
  </section>
  <aside>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Probabando tablas</h2>
      </div>
      <table class="table-bordered table-striped">

      </table>

    </div>
  </aside>
</div>

</body>

